---
import  FrigoriaWizard  from "../components/FrigoriasWizard"
import Layout from "../layouts/Layout.astro"

import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";

---
<Layout
    title="Aires del Rosario - Instalación y reparación de aire acondicionado"
    description="Servicio profesional de instalación, reparación y mantenimiento de aires acondicionados en Rosario. Calculá frigorías, contactanos y climatizá tu hogar."
>
    <Navbar />
        <section class="bg-blue-50 max-w-2xl rounded-2xl sm:m-auto my-8 p-2 sm:p-4 mx-2">
            <h1 class="text-3xl font-bold mb-6 text-center">Calculá cuántas frigorías necesitás</h1>
            <FrigoriaWizard client:load/>
        </section>
               
    <Footer/>
</Layout>
